# Flake8 configuration file
# All flake8 configuration file starts with: [flake8]
[flake8]

# We exclude all files created by Django
exclude =
    migration,
    __pycache__,
    manage.py,
    settings.py